/*localhost:8000/delete/<mail_id>*/
<form action="/delete/<%=email%>?_method=DELETE" method="post">
    <input type="hidden" value="DELETE" name="_method">
    <br>
    <input type="email" name="email" value="<%=email%>">
    <br>
    <input type="submit" name="submit">
</form>
