<form action="/update/<%=email%>?_method=PUT" method="post">
    <input type="hidden" value="PUT" name="_method">
    <br>
    <input type="email" name="email" value="<%=email%>">
    <br>
    <input type="name" name="name">
    <br>
    <input type="submit" name="submit">
</form>